body {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration:none;
}

.sketch {
	float:left;
}

.title {
	float:left;
}

.header {
	font-size:220%;
	color:#0F4057;
}

.sub {
	color:#0F4057;
}

.header2 {
	color:#0F4057;
	font-size:150%;
	font-weight:bold;
}

.header3 {
	color:#0F4057;
	font-weight:bolder;
	font-size:120%;
}

.clear{
	clear:both;
}
